@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: #141414;
    --background-lighter: #393939;
    --hover: #696969;
    --text: #fff;
    --text-darker: #ccc;
    --primary: #ff7900;
}

* {
    margin: 0;
    padding: 0;
    font-size: 30px;
    border: none;
    box-sizing: border-box;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

input {
    outline: none;
    border: none;
    background: none;
}

.container {
    width: 290px;
    background-color: var(--background);
    padding: 10px;
}

.display {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
}

.display input {
    padding: 5px;
}

.display #display_total {
    color: var(--text-darker);
    font-size: 24px;
}

.display #total {
    color: var(--text);
}

.calculator {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

button {
    flex: 1 1 calc(25% - 10px);
    background: var(--background-lighter);
    color: var(--text);
    height: 50px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: none;
}

#button0 {
    flex: 0 0 calc(50% - 5px);
}

button:hover {
    background: var(--hover);
}

.operator {
    color: var(--primary);
}

#button_total {
    color: var(--text);
    background-color: var(--primary);
}

#button_total:hover {
    background-color: #bb5700;
}